<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rose's Weekly Nerd Blog</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <%- include ('../partials/header.ejs') %>
        <%- include ('../partials/overlay.ejs') %>
        
        <div class="centered-goals padding">
            <h1 class="goals-h1">My goals</h1>
            <sub class="goals-sub">or leerdoelen.</sub>
            <p class="goals-p">The Meesterproef spans six weeks, where we work with real clients, providing us students with a taste of real-world client projects and product development.</p>
            <p>During this time, I aim to actively improve both soft and hard skills.</p>
        </div>
        
       <%- include ('../partials/goals.ejs') %>

        <p class="centered padding">
            There’s a lot to be said about all three of these goals. Throughout my studies at the Amsterdam University of Applied Sciences, I’ve encountered recurring roadblocks. These patterns are challenges I am determined to break, especially as I move forward into internships and, soon, graduation.
        </p>
        <p class="centered padding">
            As I enter my fourth and final year, it feels symbolic to strive to overcome these obstacles. I’m eager to meet the better, evolved version of myself, but first, I need to change my mindset. This journey is all about that transformation.
        </p>
        <p class="centered padding">
            Despite the hardships, I face them with enthusiasm rather than negativity. Each challenge presents an opportunity to learn, and I intend to seize every one of them, whenever possible.
        </p>

        <h2 class="kickstart-h2 padding">So, without further ado..</h2>
        <img class="kickstart-img" src="/img/goals/lets-go.png" alt="Stickwoman in a rocketship saying 'lets go!'">
        
        <%- include ('../partials/footer.ejs') %>
        <script src="/js/scripts.js"></script>
    </body>
</html>
