<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rose's Blog ✷ Goals</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <%- include ('../partials/headers/desktop.ejs')%> <%- include
        ('../partials/headers/mobile.ejs')%>
        <div class="test"></div>

        <main>
            <section>
                <h1>My goals</h1>
                <a href="#">What I wanna achieve</a>
            </section>
            <p>
                During this minor, we're lucky to receive (usually) weekly
                lectures - also called the Weekly Nerd - from various figures in
                the industry. A range of different people, with different
                backgrounds, different passions and jobs that have one thing in
                common; their passion for the web and creating for the web.
            </p>
            <p>
                There's a lot to take away from the Weekly Nerds, and even more
                to take with us as we approach the Meesterproef. Here's what I
                wanna focus on when that time comes.
            </p>

            <div class="goals-container">
                <div class="goals-item">
                    <h2>Learning to do more with CSS</h2>
                    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <div class="goals-item">
                    <h2>
                        If JS is necessary: how can I apply it as efficiently as
                        possible?
                    </h2>
                    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <div class="goals-item">
                    <h2></h2>
                    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </main>
    </body>
</html>
