<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/css/newstyles.css" />
    </head>
    <body>
        <main>
            <a class="home-logo" href="/">
                <div>
                    <img
                        style="width: 40px; margin-bottom: -5px"
                        src="/svgs/rose-blk.svg"
                        alt="A black rose"
                    />
                </div>
            </a>
            <header>
                <nav>
                    <ul>
                        <li>
                            <a href="/weeklynerd">
                                <p>Weekly Nerd</p>
                                <small>()</small></a
                            >
                        </li>
                        <li>
                            <a href="#">
                                <p>Blog posts</p>
                                <small>(soon)</small></a
                            >
                        </li>
                        <li>
                            <a href="/goals">
                                <p>My goals</p>
                                <small
                                    ><i class="fa-solid fa-arrow-up"></i></small
                            ></a>
                        </li>
                    </ul>
                </nav>
            </header>

            <h1>
                <span class="first-line">Hi! I'm</span>
                <span class="second-line"
                    >R<span class="flower-letter">✽</span>se</span
                >
            </h1>
            <!-- <div class="blog_desc">
                <p>
                    And this is my blog. Here I document everything about code,
                    as a place to post my findings and look back on when I
                    wonder how to achieve that one functionality again.
                </p>
            </div> -->
            <div class="latestblog_container">
                <h3>May 8th, 2024</h3>
                <h4>Vasilis van Gemert on Accessibility Tools</h4>
                <p>
                    We all know major tools like Lighthouse to perform audits on
                    sites and check their accessibility scores. But how much of
                    this actually says anything relevant about the accessibility
                    of your website? How can I better check my score? Vasilis
                    talks about this extensively in this weeks Weekly Nerd.
                </p>
            </div>
            <div class="latest-post-btn-bg">
                <a class="latest-post-btn" href="#">Read my latest post</a>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>
