<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rose's Weekly Nerd Blog</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark-dimmed.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <style>
        .highlight {
            color: var(--rosedev-blue);
        }

        .badum-tss {
            position: relative;
            color: var(--rosedev-blue);
            text-decoration: underline;
            cursor: pointer;
        }   

    
        .badum-tss::before {
            content: '';
            display: block;
            position: absolute;
            background-image: url('https://media1.tenor.com/m/Va9M6DvKygYAAAAC/ba-dum-tsss-drum.gif');
            background-size: cover;
            background-position: center;
            width: 100px;
            height: 100px;
            bottom: 100%;
            right: 100%;
            /* transform: translateX(-50%); */
            opacity: 0;
            transition: opacity 0.3s ease;

        }

            .show-badum-tss::before {
            opacity: 1; /* Show pseudo-element */
            }

    
    </style>
    <body class="blogpost-body">
        <%- include ('../partials/header.ejs') %>
        <%- include ('../partials/overlay.ejs') %>

        <section class="author-container centered padding"">
            <h1>On the minor Web</h1>
            <section class="author-item">
                <img
                    class="author-img"
                    src="/img/rose-mulazada.png"
                    alt="Photo of Rose Mulazada"
                />
                <section class="author-metadata">
                    <h3 class="author-title">AUTHOR</h3>
                    <h3 class="author-name">Rose Mulazada</h3>
                    <section class="author-metadata-tags">
                        <h3 class="metadata">
                            26/03 • readingTime TBA
                        </h3>
                    </section>
                </section>
            </section>
            <section class="tags-container">
                <p class="tag-item metadata">tags</p>
            </section>
            <!-- <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit cumque fuga eaque laudantium. Laborum in voluptate repudiandae! Suscipit alias inventore vero consequatur perferendis quidem quod a qui nostrum, quisquam distinctio!</p> -->
        </section>

        <section class="centered content padding">
            <p>
                Where to begin as we recap the past five or six months? I wouldn't know. It's been such a ride, an amazing one, with so many great memories and lessons that I hardly know what to say. But I'll do my best.
            </p>
            <p>
                Before I started this minor, before I ever signed up for it, I knew that it was undoubtedly the best opportunity to learn as a front-end developer. My passion had just recently ignited itself, especially following my experience at the minor Information Design on the Tech course, where I got my first taste of frameworks and API's, npm packages, libraries like D3.js and the like. Still, the assignment that we had wasn't your ordinary developer work. Besides, I barely understood what I was really doing. I needed more. I needed to get the <em>real</em> experience. I wanted to learn so, so much more than I knew then. And I knew that this was the right choice for achieving that.
            </p>
            <p>
                As I mentioned before, I had once previously worked with SvelteKit, with NPM and all these things. But I have to say I was absolutely clueless when it came down to it. I was beginning to understand, kind of, but my understanding of the foundation was weak and thus I didn't really know what it was that I was doing or why it worked. What were methods? What were different types of variables, like strings and integers? What is the difference? What's a <code>GET</code>, <code>POST</code>, hell, what even is a <code>.env</code>? Or <code>Git</code>? I was absolutely lost. I needed a thorough understanding of the foundation to get anywhere. So this was my goal by signing up for the minor Web Design and Development.
            </p>
            <p>
                I have to admit that I was slightly anxious about coming here, afraid that my lack of understanding would mean I'd fall behind easily. That fear did not trumph my excitement. And when we started classes, I was ecstatic. We were beginning with API's again! I had experimented with this, once before. Surely I'd be alright.
            </p>

            <h2>Web Apps from Scratch</h2>
            <p>Well, yes, but actually, no. I managed to retrieve my data almost instanteneously. Clearly I had remembered a lot from my previous experiences at my previous minor. Building the interface also went quite swimmingly, I think it still looks cool to this day. And on the outside, it <em>did</em> look really good. Which is why I was flabbergasted when I had my oral exam and the teacher told me that he could tell that I had used certain CSS units blindly, and that my scoping in the JavaScript was less than ideal. Back then, during that conversation, I felt kind of upset. Was I not cut out for this, after all? Is it too late to learn this much in the time we have left? How can I be more up to web developer standards?</p>
            <p>This is what my teacher described to me as the <span class="highlight">Dunning-Kruger effect:</span> <em>The Dunning–Kruger effect is a cognitive bias in which people with limited competence in a particular domain overestimate their abilities.</em></p>
            <figure class="large">
                <img style="width:100%; aspect-ratio: auto 1000 / 667; height: auto;" alt="A graph visualising the Dunning-Kruger effect." class="bg ku mg c"loading="eager" src="https://i.pinimg.com/736x/e3/28/97/e328977b031a0128cab8cd9a16f3b13d.jpg">
                <figcaption class="metadata">The Dunning-Kruger Effect: Visualized</figcaption>
            </figure>
            <p>Looks cool, doesn't it? Yeah, until you read it. Owch. Of course, he didn't mean it that way, but I went home thinking about this a lot. And after some time, it actually gave me faith. I recognise that I know little of development. But my (former..) confidence has to mean something, right? It means that I'm passionate (passionately stupid maybe haha <span onclick="badumTss()" class="badum-tss">badum tss</span>).  No but seriously. Did it not speak to my enthusiasm and my determination? I certainly felt determined after this, in any case. And so, when the other two subjects started, I tried my best to adhere to the best practices and to learn.
            </p>

        </section>

        <%- include ('../partials/footer.ejs') %>

        <script src="/js/scripts.js"></script>
        <script>
            function badumTss() {
                const audio = new Audio('/audio/badum-tss.mp3');
                audio.play();

                const badumTssElement = document.querySelector('.badum-tss');

                badumTssElement.classList.add('show-badum-tss');

                audio.addEventListener('ended', () => {
                    badumTssElement.classList.remove('show-badum-tss');
            });
            }

        </script>
    </body>
</html>