<footer>
    <div class="centered author-container">
        <div class="author-item">
            <img
                class="author-img"
                src=""
                alt="Photo of Rose Mulazada"
            />
            <div class="author-metadata">
                <h3 class="author-title">AUTHOR</h3>
                <h3 class="author-name">Rose Mulazada</h3>
            </div>
        </div>
    </div>
</footer>