<!-- <footer>
    <section class="centered footer-author-container">
        <section class="footer-author-item">
            <img
                class="footer-author-img"
                src="/img/rose-mulazada.png"
                alt="Photo of Rose Mulazada"
            />
            <section class="footer-author-metadata">
                <h3 class="footer-author-title">Written by</h3>
                <h3 class="footer-author-name">Rose Mulazada</h3>
            </section>
        </section>
    </section>
</footer> -->