<footer>
    <section class="centered footer-author-container centered">
        <section class="footer-author-item">
            <div class="footer-author-content">
                <img
                class="footer-author-img"
                src="/img/rose-mulazada.png"
                alt="Photo of Rose Mulazada"
                />
                <section class="footer-author-metadata">
                    <h3 class="footer-author-title">AUTHOR & DEV</h3>
                    <h3 class="footer-author-name">Rose Mulazada</h3>
                    <a href="https://github.com/rosemulazada"><i id="github" class="fa-brands fa-github-alt"></i></a>
                </section>
            </div>
        </section>
    </section>
</footer>