 <section class="goals-container">
    <section class="goal-item">
        <img class="goal-img" src="/img/goals/speaking-like-professionals.png" alt="An illustrated image of a stickwoman standing in front of a whiteboard, speaking to colleagues at a table. The text bubble is in scribbles.">
        <h2 class="goal-title">Speaking like the professionals.</h2>
        <p>Communication with clients can be tricky. I'm learning to adapt my communication style to different audiences.</p>
    </section>
    <section class="goal-item">
        <img class="goal-img" src="/img/goals/challenging-javascript.png" alt="An illustrated image of a stickwoman standing in front of a mountain.">
        <h2 class="goal-title">Challenging myself with JavaScript.</h2>
        <p>I've honed my JavaScript skills but avoided tough challenges. Now, I'm tackling them head-on.</p>
    </section>
    <section class="goal-item">
        <img class="goal-img" src="/img/goals/letting-go.png" alt="An illustrated feather.">
        <h2 class="goal-title">Learning to let some things go.</h2>
        <p>As an overachiever, I'm hard on myself about my work. I'm learning to embrace imperfections.</p>
    </section>
</section>