<header class="padding">
    <nav>
        <ul>
            <li>
                <a class="home-link" href="/">rose.</a>
            </li>
            <li>
                <button class="menu-toggle">
                    <span class="bar bar1"></span>
                    <span class="bar bar2"></span>
                </button>
            </li>
        </ul>
    </nav>
</header>