<div class="overlay-container hidden-overlay">
    <div class="left-overlay">
        <div class="table-of">
            <span>table</span>
            <span class="georgia">of</span>
        </div>
        <div class="contents">
            <span>contents</span>
        </div>
    </div>
    <nav class="right-overlay">
        <ul>
            <li>
                <a href="/">
                    <div class="georgia">01</div>
                    <div>home</div>
                </a>
            </li>
            <li>
                <a href="/goals">
                    <div class="georgia">02</div>
                    <div>my goals</div>
                </a>
            </li>
            <li>
                <a href="/weeklynerd">
                    <div class="georgia">03</div>
                <div>weekly nerds</div>
                </a>
            </li>
            <li>
                <a href="/reflection">
                    <div class="georgia">04</div>
                    <div>reflection</div>
                </a>
            </li>
        </ul>

         <div class="contact-container">
            <h3>contact</h3>
            <p>info@rosemulazada.dev</p>
        </div>
    </nav>
</div>