<header class="desktop">
    <nav>
        <ul>
            <li>
                <a href="/"
                    ><img
                        style="width: 40px; margin-bottom: -5px"
                        src="/svgs/rose-blk.svg"
                        alt="A black rose"
                /></a>
            </li>
            <li>
                <p><a class="testP" href="/weeklynerd">Weekly Nerd</a></p>
                <small>(10)</small>
            </li>
            <li>
                <p><a href="#">Blog posts</a></p>
                <small>(0)</small>
            </li>
            <li>
                <p><a href="/goals">My goals</a></p>
                <small><i class="fa-solid fa-arrow-up"></i></small>
            </li>
            <li>
                <p><a href="#">About the dev</a></p>
                <small><i class="fa-solid fa-arrow-up"></i></small>
            </li>
        </ul>
        <ul>
            <li>
                <div class="toggle-switch">
                    <label class="switch-label">
                        <input type="checkbox" class="checkbox" />
                        <span class="slider"></span>
                    </label>
                </div>
            </li>
            <li>
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </li>
        </ul>
    </nav>
</header>
