<header class="mobile">
    <nav>
        <ul>
            <li>Rosedev</li>
        </ul>
        <ul>
            <li>
                <span></span>
                <span></span>
                <span></span>
            </li>
            <li>
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </li>
        </ul>
    </nav>
</header>
