/* Base */
@import '/css/base/_reset.css';
@import '/css/base/_typography.css';

/* Components */
@import '/css/components/_blockquote.css';

/* Layout */
@import '/css/layout/_common.css';
@import '/css/layout/_goals.css';
@import '/css/layout/_header.css';
@import '/css/layout/_footer.css';
@import '/css/layout/_overlay.css';

/* Pages */
@import '/css/pages/_reflection.css';
@import '/css/pages/_weeklynerdhome.css';

/* Root */
:root {
    --rosedev-blue: #3943B8;
    --heading-text-light: #242424;
    --regular-text-light: #262626;
    --metadata-tags-light: #6b6b6b;

    --heading-text-dark: rgb(228, 222, 222);
    --regular-text-dark: rgb(228, 222, 222);
    --metadata-tags-dark: #bfbfbf;
}


/* @media (prefers-color-scheme: dark) {
    body {
        /* background-color: rgb(20, 20, 20); */
        /* background-color:#3943B8;
        color: var(--regular-text-dark);
    }

    h1, h2, 
    h3, h4,
    h5, h6,
    strong {
        color: var(--heading-text-dark);
    }

    .metadata {
        color: var(--metadata-tags-dark);
    }
} */ */

.speaker-container,
.blogpost {
    grid-column: 2 / 3;
}

.speaker-item {
    display: flex;
    gap: 2.5%;
}

.speaker-img {
    width: 25%;
    aspect-ratio: 1; 
    border-radius: 50%;
    object-fit: cover; 
    height: auto;
}

.tags-container {
    display: flex;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    margin-block: 4.5% 2.5%;

    .tag-item {
        width: min-content;
        padding: 0.25em 0.5em;
        margin-block: 1%;

        &:hover {
            text-decoration: underline;
        }
    }
}

.speaker-metadata {
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
