@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Sans+Narrow:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@font-face {
    font-family: "Sloopscript";
    src: url(../fonts/sloopscriptregular.ttf);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --font-stack: Helvetica, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100dvh;
    overflow: hidden;
}

body {
    font-family: var(--font-stack);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

main {
    height: calc(100% - 20px);
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    margin: 10px;
    border-radius: 40px;
    position: relative;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    .home-logo {
        grid-area: 1/ 1/ 2/ 2;

        div {
            background-color: white;
            width: min-content;
            padding: 30px 40px 30px 30px;
            position: relative;
            font-size: 7vh;
            border-bottom-right-radius: 50px;

            &::before {
                content: "";
                position: absolute;
                width: 40%;
                height: 55%;
                background: transparent;
                left: 0;
                top: 100%;
                box-shadow: -10px -15px 0 white;
                display: inline-block;
                border-top-left-radius: 40px;
            }

            &::after {
                content: "";
                position: absolute;
                width: 50%;
                height: 55%;
                background: transparent;
                left: 100%;
                top: 0;
                box-shadow: -10px -15px 0 white;
                display: inline-block;
                border-top-left-radius: 40px;
            }
        }
    }

    header {
        grid-area: 1 / 2 / 1 / 6;
    }

    h1 {
        /* position: absolute;
        bottom: 0px;
        left: 0; */
        line-height: 1;
        grid-area: 5 / 1 / 6 / 6;

        span {
            background-color: white;
            display: block;
            border-top-right-radius: 40px;
            font-weight: 100;
            width: fit-content;

            &.first-line {
                font-size: 100px;
                padding-top: 0.25em;
                padding-right: 0.5em;

                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 40%;
                    height: 55%;
                    background: transparent;
                    left: 0;
                    bottom: 100%;
                    box-shadow: -25px 10px 0 white;
                    display: inline-block;
                    border-bottom-left-radius: 40px;
                }

                .o {
                    font-size: 300px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 40%;
                    height: 55%;
                    background: transparent;
                    left: 100%;
                    bottom: 0;
                    box-shadow: -15px 10px 0 white;
                    display: inline-block;
                    border-bottom-left-radius: 40px;
                    /* z-index: -1; */
                }
            }

            &.second-line {
                font-family: "Playfair Display";
                text-transform: uppercase;
                font-size: 300px;
                padding-right: 0.3em;
                font-weight: 200;
                position: relative;
                display: flex;

                &::after {
                    content: "";
                    position: absolute;
                    width: 40%;
                    height: 55%;
                    background: transparent;
                    left: 100%;
                    bottom: 0;
                    box-shadow: -25px 10px 0 white;
                    display: inline-block;
                    border-bottom-left-radius: 40px;
                    /* z-index: -1; */
                }

                .flower-letter {
                    padding: 0.1ch;
                    background: transparent;
                    background-image: linear-gradient(
                        to top,
                        #eba0d6 0%,
                        #90b0e6 100%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }

    .blog_desc {
        grid-area: 2 / 1 / 2 / 3;
        padding-left: 20%;
        p {
            /* From https://css.glass */
            /* From https://css.glass */
            background: rgba(255, 255, 255, 0.2);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            padding: 2em 1em;
        }
    }

    .latestblog_container {
        grid-area: 1 / 10 / 2 / 14;
        text-align: right;
        background-color: white;
        padding-top: 60px;
        padding-bottom: 30px;
        padding-inline: 30px;
        border-bottom-left-radius: 60px;
        font-weight: 400;
        position: relative;

        h3,
        h4 {
            text-transform: uppercase;
            font-family: "Inconsolata", var(--font-stack);
            font-size: 1.05em;
        }

        h4 {
            margin-bottom: 20px;
            color: rgb(70, 70, 70);
        }

        p {
            color: rgb(70, 70, 70);
            font-size: 0.8em;
        }

        &::before {
            content: "";
            position: absolute;
            width: 40%;
            height: 55%;
            background: transparent;
            right: 0;
            top: 100%;
            box-shadow: 15px -10px 0 white;
            display: inline-block;
            border-top-right-radius: 40px;
        }

        &::after {
            content: "";
            position: absolute;
            width: 40%;
            height: 55%;
            background: transparent;
            right: 100%;
            top: 0;
            box-shadow: 15px -10px 0 white;
            display: inline-block;
            border-top-right-radius: 40px;
        }
    }

    .latest-post-btn-bg {
        /* background-color: white; */
        grid-area: 5 / 11 / 6 / 14;
        border-top-left-radius: 60px;
        align-self: end;

        .latest-post-btn {
            background-color: orange;
        }
    }
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

header {
    margin-top: 30px;
    padding-left: 30px;

    nav {
        /* From https://css.glass */
        background: #879ecf78;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.037);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 9999px;
        padding: 15px;

        width: fit-content;

        ul {
            display: flex;
            gap: 1.5em;
            width: fit-content;

            li > a {
                display: flex;
                color: white;
            }
        }
    }
}
