* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100dvh;
    width: 100dvw;
}

.padding {
    padding: 1.5vh 6vw;
}

.h1-padding {
    padding: 0 6vw 2.5vh 6vw;
}

.header-padding {
    padding: 2.5vh 4vw 0 4vw;
}

a {
    text-decoration: none;
    color: inherit;
}

a.hyperlink {
    text-decoration: underline;
    color: var(--rosedev-blue);
}

button {
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

:focus-visible {
    outline: 5px solid rgb(255, 85, 0);
    outline-offset: 4px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

p:has(code, a) {
    display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
    :focus-visible {
        transition: outline-color 0.2s ease-in-out;
    }
}
