body {
    display: flex;
    flex-direction: column;
/* 
    &.blogpost-body {
        justify-content: center;
        align-items: center;
    }

    &.centered-body { */
        align-items: center;
    /* } */
}

figure {
    margin-top: 5vh;
    padding: 1vh 0;
}

.centered > :first-of-type:not(h3, ol, ul, p:not(.desc), h1, pre, h4, blockquote),
.centered > h2 {
    margin-top: 1.5em;
}

    
.centered > h3 {
    margin-top: .75em;   
}

.centered > h3 + ul,
.centered > h3 + ol {
    margin-top: .5em;
}

.centered > h2 + ul:first-of-type,
.centered > h2 + ol:first-of-type,
.centered > p +  ul:first-of-type,
.centered > p +  ol:first-of-type {
    margin-top: .5em;
}

p + p, 
h2 + p,
blockquote + p,
h3 + p {
    margin-block: .75em .25em;
}

ul:not(.filter-container, header nav ul), ol {
    margin-block: 0em .75em;
}

/* Larger than a tablet */
@media (min-width: 768px) {
    body {
        padding: 0;
    }

    .centered > :first-of-type:not(h3, ol, ul, p:not(.desc), h1, pre, h4, blockquote),
    .centered > h2 {
        margin-top: 2em;
    }

    .centered {
        max-width: 680px;
    }


    .centered-goals {
        max-width: 680px;
    }

    .centered.padding {
        padding: 0;
    }

    .centered-goals.padding {
        padding: 2.5vh 0 0 0;
    }

    figure.large {
        width: 100%;
        padding: 0 4.5vw;

        /* > */
    }

}