footer {
    background-color: var(--rosedev-blue);
    background-color: #f9f9f9;

    width: 100%;

    display: flex;
    justify-content: center;

    padding-block: 3vh;
    padding-inline: 3vw;
    margin-top: 6vh;
}

/* .footer-author-container {
    display: grid;
    grid-column: 2 / 3;
    justify-items: center;
    width: 680px;
} */

.footer-author-item {
    display: flex;
    align-items: center;
    gap: 2.5%;
}

.footer-author-content {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2.5%;
}

.footer-author-img {
    width: 15%;
    aspect-ratio: 1; 
    border-radius: 50%;
    object-fit: cover; 
    height: auto;
}

.footer-author-metadata {
    display: flex;
    flex-direction: column;
    gap: 0;
}

#github {
    color: var(--rosedev-blue);
    margin-top: 1rem;
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    footer {
        padding-inline: none;
        padding-block: 3vh 10vh;
    }
}