footer {
    background-color: var(--rosedev-blue);
    background-color: #f9f9f9;

    width: 100%;

    display: flex;
    justify-content: center;

    padding-block: 3vh;
}

.author-container {
    display: flex;
    justify-content: left;
}